<%= stylesheet_link_tag "/stylesheets/ring.css" %>
<p><%= @user %></p>
<div class="ringMenu">
        <ul>
                <li class="main"><a href="#main"><h2>main</h2></a></li>
                <li class="top"><a href="#top"><h2>Recipe</h2></a></li>
                <li class="right"><a href="#right"><h2>Cooking</h2></a></li>
                <li class="bottom"><a href="#bottom"><h2>Exercise</h2></a></li>
                <li class="left"><a href="#left"><h2>Houthing</h2></a></li>
        </ul>
        <!-- /.ringMenu -->
</div>
